body {
  width: 100%;
  background-color: #e6f7ff;
  background-color: #003366; //Midnight Blue
}
.chepchat {
  height: 90vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  color: #000;
  border-radius: 1rem;
  overflow: hidden;

  .sidebar {
    background-color: #003366; //Midnight Blue
    background-color: #87cefa; // Light Sky Blue
    background-color: #6a5acd; // Slate Blue
    background-color: #1e90ff; // Dodger Blue
    background-color: #4682b4; // Steel Blue
    background-color: #6495ed; // Cornflower Blue
    background-color: #b0e0e6; // Soft Light Blue
    background-color: #e6f7ff; //Soft Light Blue

    padding: 1rem;
    flex: 1;
  }
  .chatbox {
    flex: 2;
    background-color: #f0f8ff;
    padding: 1rem;
  }
}
